body {
  font-family: Arial, sans-serif;
  background-image: url(image1.jpeg);
  margin: 20px;
  padding: 0px;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #6ed2dd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #fff;
}

input,
select {
  margin-bottom: 18px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
